* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: rgba(248, 242, 242, 0.5);
}

.header {
    background: linear-gradient(to right, #003366 20%, #ff6600 100%);
}

.container-heading {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-weight: 600;
    margin-left: 16%;
}

.heading-nav {
    display: flex;
}

.logo-header {
    margin-right: 24px;
}

.logo-header i {
    font-size: 40px;
    margin: 6px 0;
    cursor: pointer;
    color: orangered;
}

.nav-header {
    display: flex;
}

.nav-header a {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
}

.main-nav {
    display: flex;
}

.main-nav > li {
    display: block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav > li a { 
    display: block;
    padding: 0 24px;
    line-height: 52px;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
}

.main-nav > li:hover > a{ 
    cursor: pointer;
    background-color: aliceblue;
    color: orangered;
}

.sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.sub-nav li {
    min-width: 240px;
    background-color: rgb(62, 91, 119);
    color: aliceblue;
    transition: background-color 0.3s, color 0.3s;
    z-index: 10;
}

.sub-nav li a {
    display: block;
    font-size: 16px;
    line-height: 52px;
}

.sub-nav li:hover a{
    background-color: aliceblue;
    color: orangered;
}

.main-nav > li:hover > .sub-nav {
    display: block;
}

.finding-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 36px;
}

.finding-nav .title-finding {
    font-size: 20px;
    max-width: 80%;
    margin: 60px 0 16px;
}

.input-finding input {
    min-width: 12rem;
    font-size: 16px;
    margin: 0 0 24px 0;
    font-weight: 600;
}

.input-finding button {
    font-size: 16px;
    width: 160px;
    cursor: pointer;
    background-color: rgb(227, 39, 39);   
    color: aliceblue;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
    margin-right: 16%;
}

.input-finding button i {
    margin-right: 4px;
}

.input-finding input,
.input-finding button{
    border-radius: 10px;
    padding: 12px 20px;
}

.input-finding button:hover {
    box-shadow: #003366 10px 8px;
    opacity: 80%;
}

@media (max-width: 730px) {
    .container-heading {
        margin-left: 0; 
    }

    .heading-nav {
        height: 40px;

    }

    .nav-header a {
        font-size: 16px; 
    }

    .input-finding input {
        width: 80%; 
    }

    .main-nav > li a {
        padding: 24px 10px;
    }

    .logo-header i {
        margin-left: 24px;
        margin-top: 24px;
    }

    .sub-nav {
        display: none;
        position: absolute;
        margin-top: 36px;
        top: 100%;
        left: 0;
    }
    
    .sub-nav li a {
        line-height: 12px;
    }

    .finding-nav .title-finding {
        max-width: 100%;
        margin: 60px 16px 16px 24px;
    }

    .finding-nav .title-finding span {
        color: orangered;
    }

    .input-finding {
        margin-top: 12px;
        margin-left: 24px;
    }

    .input-finding input {
        width: 14rem;
    }

    .input-finding button {
        margin: 0;
        width: 120px;
        padding: 12px;
    }
}

@media (max-width: 400px) {
    .nav-header a {
        font-size: 14px; 
    }

    .main-nav > li > a {
        padding: 24px 4px;
        line-height: 0;
        margin-top: 24px;
    }

    .finding-nav .title-finding {
        font-size: 18px;
    }

    .input-finding input {
        width: 12rem;
        padding: 12px 8px;
    }
}
